<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon TCG Database</title>
    <style>
        body {
            background-color: #f2f2f2; /* Light gray background */
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #e74c3c;
            padding: 20px 15px; 
            text-align: center;
            color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            font-family: \'Arial\', sans-serif;
            font-size: 24px; 
            border-bottom: 3px solid #c0392b;
            margin-bottom: 25px;
        }

        nav {
            background-color: #3498db; /* Blue nav bar background */
            overflow: hidden;
        }

        nav a {
            float: left;
            display: block;
            color: #fff; /* White text color */
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav a:hover {
            background-color: #555; /* Dark gray background on hover */
            color: white;
        }

        .search-container {
            text-align: center;
            margin-top: 20px;
        }

        input[type=text] {
            padding: 10px;
            width: 300px;
        }

        button {
            padding: 10px;
            background-color: #4caf50; /* Green search button */
            color: white;
            border: none;
        }
    </style>
</head>
<body>

    <header>
        <h1>Pokémon TCG Database</h1>
    </header>

    <nav>
        
    </nav>
    <div class="search-container">
        <h2>Search Specific Pokemon</h2>
        <form action="/SearchPage" method="get">
            <input type="text" placeholder="Search..." id="pokemon" name="pokemon">
            <select id="type" name ="type">
                <option value="None">None</option>
                <option value="Water">Water</option>
                <option value="Fire">Fire</option>
                <option value="Grass">Grass</option>
                <option value="Dragon">Dragon</option>
                <option value="Colorless">Normal</option>
                <option value="Fairy">Fairy</option>
                <option value="Fighting">Fighting</option>
                <option value="Lightning">Electric</option>
                <option value="Psychic">Psychic</option>
                <option value="Metal">Steel</option>
                <option value="Darkness">Dark</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="search-container">
        <h2>Search Specific Set</h2>
        <form action="/SetsPage" method="get">
            <input type="text" placeholder="Search..." id="set" name="set" required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
